<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th *ngFor="let col of columns" scope="col">
          {{ col.title }}
        </th>
        <th *ngIf="!noEditAction || !noDeleteAction"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of list | slice: startSlice:endSlice">
        <td *ngFor="let col of columns">
          {{ row[col.key] }}
        </td>
        <td>
          <div class="btn-group" role="group">
            <button
              *ngIf="!noEditAction"
              [routerLink]="['/', 'products', 'edit', row['_id']]"
              class="btn btn-sm btn-info"
            >
              <feather-icon name="edit"></feather-icon>
            </button>
            <button
              *ngIf="!noDeleteAction"
              (click)="handleDelete(row)"
              class="btn btn-sm btn-danger"
            >
              <feather-icon name="trash-2"></feather-icon>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-between my-3">
  <nav aria-label="Table pagination navigation">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="page === 1">
        <button (click)="jumpToPage(page - 1)" class="page-link">
          Previous
        </button>
      </li>
      <li
        *ngFor="let pageNum of pageList"
        class="page-item"
        [class.active]="page === pageNum"
      >
        <button (click)="jumpToPage(pageNum)" class="page-link">
          {{ pageNum }}
        </button>
      </li>
      <li class="page-item" [class.disabled]="page === numOfPages">
        <button (click)="jumpToPage(page + 1)" class="page-link">Next</button>
      </li>
    </ul>
  </nav>

  <select (change)="setPageSize($event)" class="pagination-select">
    <option
      *ngFor="let size of pageSizes"
      [value]="size"
      [selected]="size === pageSize"
    >
      {{ size }}
    </option>
  </select>
</div>
